@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-transparent text-purple-500;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TypeDry";
  src: url("../assets/fonts/jmh_typewriter_dry/JMH\ Typewriter\ dry.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TypoSlab";
  src: url("../assets/fonts/typoslab_irregular/TypoSlab\ Irregular\ Demo.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeyComic";
  src: url("../assets/fonts/hey_comic/Hey\ Comic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu_Sans";
  src: url("../assets/fonts/Ubuntu_Sans_Mono/UbuntuSansMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica-255/Helvetica.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Logos";
  src: url("../assets/fonts/social_media_circled/Social\ Media\ Circled.ttf")
    format("truetype");
  font-weight: normal;
}

.ga1 {
  animation: opacity-to1 0.5s;
}

.ga2 {
  animation: opacity-to1 1s;
}

.ga3 {
  animation: opacity-to1 1.5s;
}

#home {
  animation: slide-down 1s;
}

@keyframes slide-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes opacity-to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  scroll-behavior: smooth;
}

.btn-github {
  @apply p-1 px-4 m-auto text-base lg:text-lg bg-neutral-900 w-full cursor-pointer rounded-sm font-medium hover:scale-105 transition-all text-white active:ring-4 active:ring-blue-500 focus:ring-4 focus:ring-blue-500;
}

.btn-preview {
  @apply my-auto p-1 px-4 text-base lg:text-lg bg-blue-700 cursor-pointer rounded-sm font-medium hover:scale-105 transition-all text-white active:ring-4 active:ring-blue-500 focus:ring-4 focus:ring-blue-500;
}

.project-stacks {
  @apply text-left text-base block xl:flex justify-start xl:text-xl gap-4 text-neutral-400 mb-1 font-helvetica;
}

.project-title {
  @apply text-xl lg:text-3xl text-left font-semibold text-white font-ubuntu_sans;
}

.title {
  @apply text-3xl lg:text-5xl font-semibold;
}

.line {
  @apply w-[200px] lg:w-[250px] h-1 my-5 mx-auto border-2 rounded-sm;
}

.ring-link {
  @apply active:ring-4 active:ring-blue-500 focus:ring-4 focus:ring-blue-500;
}

.project-description {
  @apply text-sm text-neutral-500 text-left mb-4 font-poppins;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

hr {
  @apply dark:border-white border-black;
}

.project-item {
  @apply bg-zinc-950 dark:bg-opacity-40 p-5;
}

.stack-item {
  @apply dark:bg-zinc-200 px-5 py-2 font-poppins dark:text-black rounded-md bg-zinc-900 text-white dark:hover:bg-zinc-300 hover:bg-zinc-800 cursor-default;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
}
